.sliderSettings {
  padding: 1rem;
  background-color: #24252f;
  border-radius: 5px;
  margin-top: 10px;
}

.sliderSettings.err {
  border: 1px solid #c77171;
}

.sliderSettings .sliderSettingsInner {
  display: flex;
  align-items: center;
}

.sliderSettings h3 {
  outline: none;
}

.sliderSettings .select {
  width: 300px;
  margin-right: 10px;
}

.sliderSettings .select:first-of-type {
  margin-left: auto;
}

.err-text {
  font-size: 14px;
  color: #c77171;
  padding: 0 10px;
}
