/* {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
} */

/* .addmodal-backdrop .addProduct {
  max-width: 700px;
  height: 95vh;
  width: 100%;
  background-color: #3d3e47;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  outline: 0;
  box-shadow: 0 24px 38px 3px rgba(60, 75, 100, 0.14),
    0 9px 46px 8px rgba(60, 75, 100, 0.12),
    0 11px 15px -7px rgba(60, 75, 100, 0.2);
  color: #fff;
} */
.addProduct .css-xzkq1u-MuiFormHelperText-root,
.addProduct .css-1oiubqy-MuiFormHelperText-root {
  color: #ff8c8c;
}
.addProduct {
  width: 100%;
}
.addProduct .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.addProduct .modal-header h5 {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
}

.addProduct .modal-header span {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
.inputFields {
  width: 100%;
  display: grid;
  /* padding: 20px; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: #fff;
  align-items: flex-start;
}
.inputFields .input {
  margin: 5px 0;
}
.addProduct textarea {
  background-color: transparent;
  font-family: inherit;
  padding: 10px;
  resize: none;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  color: #fff;
}
.addProduct textarea.error {
  color: #ff8c8c;
  border: 1px solid currentColor;
}
.addProduct textarea.error::placeholder {
  color: #fff;
  color: #ff8c8c;
}
.addProduct i {
  color: #fff;
  cursor: pointer;
}
.addProduct .highlights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.addProduct .highlights p {
  color: #fff;
  margin-top: 10px;
}

.addProduct .image-button {
  all: unset;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  background-color: #9791d4;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
  color: #fff;
  width: -webkit-fill-available;
}

.addProduct .image-button:hover {
  background-color: #9d97d6;
}
.addProduct .variances {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}
.addProduct .variances .variance {
  padding: 20px;
  /* display: flex;
  justify-content: space-between; */

  border: 1px dashed #9d97d650;
  margin: 10px 0;
  border-radius: 10px;
  width: 100%;
}
.addProduct .variances .variance .innerVariance {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.addProduct .bottomPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  color: #fff;
}
/*  .addProduct button {
  all: unset;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #121212;
  background-color: #9d97d6;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  margin: 10px 0;
}
 .addProduct .buttons {
  display: flex;

  align-self: flex-end;
  height: 200px;
}
 .addProduct .buttons button {
  height: max-content;
  align-self: flex-end;
  margin: 0 10px;
  padding: 10px 30px;
} */

.images-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

label.add-image {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 5px;
  color: #000;
  margin: 5px;
}
.image-div {
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-div .remove-hover {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  /* font-weight: bold; */
}

.image-div:hover .remove-hover {
  visibility: visible;
}

.image-div img {
  height: 150px;
  object-fit: contain;
}
