.products {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91.5vh;
}

.products .card-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
}
