* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  scroll-behavior: smooth;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #005783;
  border-radius: 20px;
}
